*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.password-container{
    
    justify-content: space-between;
    margin-bottom: 10px;
}

#password{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


#generate {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    font-size: 16px;
}